NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_ESCROW_PROGRAM_ID=
NEXT_PUBLIC_MARKET_PROGRAM_ID=
SOLANA_RPC_URL=https://api.devnet.solana.com
DHL_API_KEY=
RECLAIM_APP_ID=
RECLAIM_APP_SECRET=
