NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_ESCROW_PROGRAM_ID=EVn3aVUGYbx6yvHa5h4m5N3qfJkhKm1FnYeNsfbi34CZ
NEXT_PUBLIC_MARKET_PROGRAM_ID=DgYUcbjMg8Mm4T8PTiiboca7AN9y9urLmYXfhYnSJuZb
SOLANA_RPC_URL=https://api.devnet.solana.com
PINATA_API_KEY=
PINATA_SECRET_KEY=
