SOLANA_RPC=https://api.devnet.solana.com
TRADE_ESCROW_PROGRAM_ID=EVn3aVUGYbx6yvHa5h4m5N3qfJkhKm1FnYeNsfbi34CZ
MARKETPLACE_PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnN
AGENT_KEYPAIR_PATH=./keypair.json
DHL_API_KEY=
RECLAIM_APP_ID=
RECLAIM_APP_SECRET=
DATABASE_PATH=./agent.db
PORT=8080
